<div class="col-7">
<!-- trophies.html.erb -->

<h1>My Trophies</h1>



  <table class="table table-with-spacing">
    <tr style="margin-bottom: 60px;">
    <td>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    </td>
    </tr>
    <tr >
    <td>
    <%= image_tag('trophy_name_fill.png', size: '50x50', style: 'opacity: 100;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    </td>
    </tr>
    <tr >
    <td>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name_fill.png', size: '50x50', style: 'opacity: 100;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    </td>
    </tr>
    <tr>
    <td class="spaced-cell">
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    <%= image_tag('trophy_name.png', size: '50x50', style: 'opacity: 0.1;') %>
    </td>
    </tr>
  
	</table>


</div>
<div class="col">
	asdsadsad
</div>

<style>
.table-spacing {
  border-collapse: separate;
}

.table-spacing td {
  padding: 10px; /* Adjust the padding value as needed */
}
</style>
