<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
	<div class="tweet d-flex py-3 px-3">
		<div class="flex-shrink-0">
			<%= image_tag "#{tweet_presenter.image_profile}.png", size: "41x41", class: "rounded-circle" if tweet_presenter.image_profile.present? %>
		</div>
		<div class="flex-grow-1 ms-3">

			<p class="mb-0">
				<span class="fw-bolder"><%= tweet_presenter.display_name %></span> 
				<span class="text-muted">
					@<%= tweet_presenter.username %> <%= tweet_presenter.created_at %></span>
					<% if current_user.admin? %>
						<%= link_to tweet_path(tweet_presenter.tweet), method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-danger btn-sm float-end", style: "font-size: 7px;" do %>
							X
						<% end %>
					<% end %>
			</p>
			<p><%= tweet_presenter.body %></p>
			<div class = "d-flex justify-content-between align-items-center action-links">
				<div>
					<%= link_to "#", class: "text-decoration-none text-black views" do %>
						<%= image_tag "views.png", size: "19x19", class: "me-1"%>
						<span>Views</span>
					<% end %>
				</div>
				<div>
					<%= link_to "#", class: "text-decoration-none text-black replies" do %>
						<%= image_tag "replies.png", size: "19x19", class: "me-1"%>
						<span>Replies</span>
					<% end %>
				</div>
				<div>
					<%= link_to "#", class: "text-decoration-none text-black retweets" do %>
						<%= image_tag "repost.png", size: "19x19", class: "me-1"%>
						<span>Retweets</span>
					<% end %>
				</div>
				<div>
					<%= link_to tweet_presenter.like_tweet_url, data: {"turbo-method": tweet_presenter.turbo_data_like_method}, class: "text-decoration-none text-black likes" do %>
						<%= image_tag tweet_presenter.like_heart_image, size: tweet_presenter.size_like, class: "me-1"%>
						<span><%= tweet_presenter.likes_count %></span>
					<%end%>
				</div>
				<div>
					<%= link_to tweet_presenter.bookmark_tweet_url, data: {"turbo-method": tweet_presenter.turbo_bookmark_data_method}, class: "text-decoration-none text-black likes" do %>
						<%= image_tag tweet_presenter.bookmark_image, size: tweet_presenter.size_bookmark, class: "me-1"%>
						<span><%= tweet_presenter.bookmark_text %></span>
					<%end%>
				</div>


			</div>
		</div>
		
	</div>
<%end%>