
<tr id="<%= dom_id(user) %>">
			<td><font size="2px"><%= link_to user.username, user_path(user.id), class: 'user-link', data: { turbo_frame: "_top" } %></font></td>
				<td><font size="2px"><%= user.email %></font></td>
				<td><font size="2px"><%= user.calculate_age %></font></td>
				<td><font size="2px"><%= user.phone %></font></td>
				<td><font size="2px"><%= user.level %></font></td>
				<td>
				<%if user.status == 0 || user.status == nil %>
					<%= button_to "Blocked", update_status_username_path(user), method: :patch,class: 'btn btn-warning btn-sm btn-tiny', remote: true, data: { turbo_method: :replace, turbo_frame: :user_results } %>
				<%else%>
					<%= button_to "Free", update_status_username_path(user), method: :patch,class: 'btn btn-success btn-sm btn-tiny', remote: true, data: { turbo_method: :replace, turbo_frame: :user_results } %>
				<%end%>
				</td>
			</tr>
			
			