<% @registrations_current_user ||= registrations_current_user  %>
<% @registrations_from_user ||= registrations_from_user  %>
<%= turbo_frame_tag "invitations" do %>
<table class="table">
    <thead>
      <tr>
        <th><h7>SignUp ID</h7></th>
        <th><h7>Team Name</h7></th>
        <th><h7>Tournament Name</h7></th>
        <th><h7>Status</h7></th>
        <th><h7>Actions</h7></th>
      </tr>
    </thead>
    <tbody>
      <% (@registrations_current_user + @registrations_from_user).each do |registration| %>
        <tr>
          <td><font size="2px"><%= registration.id %><font></td>
          <td><font size="2px"><%= registration.name %><font></td>
          <td><font size="2px"><%= registration.tournament.name %><font></td>
          <td><font size="2px"><span class="badge text-bg-dark"><%= registration.pending %></span><font></td>
          <% if registration.teammate_id == current_user.id && registration.tournament.status == true%>
          <td class="d-flex ">
                <%= button_to 'Accept', accept_registration_path(registration), method: :post, class: 'btn btn-success btn-sm', style: 'margin-right: 5px;' %>
                <%= button_to 'Decline', decline_registration_path(registration), method: :post, class: 'btn btn-warning btn-sm' %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>