<%= turbo_frame_tag "altceva" do %>
<%end%>
<%= turbo_frame_tag "crate_flash_bracket" do %>
  <%end%>

<%= turbo_frame_tag "ceva" do %>

  <table class="table">
    <tr>
      <% ["Beginner", "Medium", "MediumPlus", "Expert","WaitListed"].each do |category| %>
        <th><h7><%= category %></h7></th>
      <% end %>
    </tr>
    <tr>
  <% ["Beginner", "Medium", "MediumPlus", "Expert", "WaitListed"].each do |category| %>
    <td class="#{}">
      <% players_variable_name = "@players_lvl_#{category.downcase}" %>
      <% eval(players_variable_name).each do |id, user_id| %>
        <% id_reg = Registration.find(id) %>
        <label>
        <% if current_user.admin? %>
          <%= check_box_tag "selected_players[]", id, false, class: 'tiny-checkbox' %>
        <% end %>
        <font size="2px">
        <% if @tournament.double == false %>
          <% if current_user.admin? %>
            <%= link_to User.find(user_id).username, user_path(user_id), class: 'user-link', target: "_blank" %>

          <% else %>
            <%= User.find(user_id).username %>
          <% end %>

        <% else %>
          <%= id_reg.name %>
        <% end %>
        </font>
        </label>
        <% if current_user.admin? %>
          <%= link_to modify_waitlisted_users_tournament_registration_path(@tournament, id_reg), method: :post, data: { turbo_method: :post }, remote: true, class: "btn btn-sm", style: "font-size: 7px;" do %>
            <%= image_tag "upgrade.png", width: 21, height: 21 %>
          <% end %>
        <% end %>
        <br>
      
      <% end %>
    </td>
  <% end %>
  </tr>
  
		</table>
<% end %>

<style>
.user-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; /* Add smooth transition effect on color change */
  }

  .user-link:hover {
    color: #53B092; /* Change to the desired color on hover */
  }
.tiny-checkbox {
  width: 10px;
  height: 10px;
  margin-right: 5px; /* Adjust spacing as needed */
}
</style>