<% @rounds_with_matches.each_with_index do |(round, matches), index| %>
    <%= turbo_frame_tag "round_#{round.id}" do %>
        <h7>Round <%= (index + 'A'.ord).chr + " "+ round.id.to_s %></h7>
        <% if current_user.admin? %>
            <% if params[:action] != "print_groups_medium" %>
            <%= link_to round_path(round), method: :delete, data: { turbo_method: :delete }, class: "btn btn-sm float-end", style: "font-size: 7px;" do %>
                <%= image_tag "cross-button.png", width: "17" %>
            <% end %>
        
            <%= link_to print_rounds_medium_round_path(round, format: :pdf), method: :get, class: "btn btn-sm float-end", style: "font-size: 7px;" do %>
                <%= image_tag "printer.png", width: "17" %>
            <% end %>
            <% end %>
        <% end %>

        <%= form_tag update_scores_group_group_path(round), method: :post, remote: true do %>
            <table class="tournament-table">
                <thead>
                    <tr>
                        <th>nr.</th>
                        <th>id</th>
                        <th style="min-width: 150px;">Match</th>
                        <th>Score</th>
                        <th>Date</th>
                        <% if current_user.admin? %>
                        <% if params[:action] != "print_groups_medium" %>
                            <th>Apply</th>
                            <th>Destroy</th>
                        <% end %>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                <% matches.each_with_index do |match, match_index| %>
                    <tr id="match_<%= match.id %>">
                        <td><%= match_index + 1 %></td>
                        <td><%= match.id %></td>
                        <td><%= "#{Registration.find(match.first_player).user.username} vs #{Registration.find(match.second_player).user.username}" %></td>
                        <% if current_user.admin? %>
                            <td><%= text_field_tag "match_scores[#{match.id}]", match.score, disabled: false %></td>
                        <% else  %>
                            <td><%= text_field_tag "match_scores[#{match.id}]", match.score, disabled: true %></td>
                        <% end %>
                        <td>
                        <% if current_user.admin? %>
                            <%= datetime_field_tag "match_dates[#{match.id}]", match.date&.strftime('%Y-%m-%dT%H:%M'), class: "form-control datetime-picker", disabled: false, style: "font-size: small;" %>
                        <% else  %>
                            <%= datetime_field_tag "match_dates[#{match.id}]", match.date&.strftime('%Y-%m-%dT%H:%M'), class: "form-control datetime-picker", disabled: true, style: "font-size: small;" %>
                        <% end %>
              </td>
              <% if params[:action] != "print_groups_medium" %>
                        <% if current_user.admin? %>
                        <%= hidden_field_tag :rounds_submit, true, id: "button_clicked_field" %>
                            <td ><%= submit_tag "Submit", class: "btn btn-sm tiny-button me-2", style: "background-color: #53B092;"%></td >
                            
                            <td ><%= link_to match_path(match), method: :delete, data: { turbo_method: :delete }, class: "btn btn-sm tiny-button", style: "background-color: #53B092;" do %>
                                Destroy
                                <% end %></td>
                                
                        <% else %>
                            <td>-</td>
                        <% end %>
                        <% end %>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>




<style>
.tournament-table {
	border-collapse: collapse;
	width: 60%;
}

.tournament-table th, .tournament-table td {
	border: 1px solid #ddd;
	padding: 3px;
	text-align: center;
	font-size: 11px; 
	height: 1px;
}

.tournament-table th {
	background-color: #f2f2f2;
}

.tiny-button {
	font-size: 7px;
	color: white;
	padding: 3px 7px;
}
.tiny-button:hover {
color: white;
}
</style>