<%= link_to tournament_path(tournament_presenter.tournament), method: :delete, data: { turbo_method: :delete }, class: "btn  btn-sm float-end", style: "font-size: 7px;" do %>
	<%= image_tag "cross-button.png", width: "23" %>
<% end %>

<%= link_to tournament_path(tournament_presenter.tournament), class: "btn  btn-sm float-end", remote: true do %>
	<%= image_tag "menu.png", width: "23" %>
<%end%>

<div class="dropdown float-end">
  <button class="btn btn-sm dropdown-toggle" type="button" id="optionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <%= image_tag "dropdown.png", width: "29" %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="optionsDropdown">
    <li><%= link_to change_status_opened_tournament_path(tournament_presenter.tournament), data: { "turbo-method": "post" }, remote: true do %>
          <label class="dropdown-item" for="#{tournament_presenter.tournament.id}">Opened</label>
        <% end %>
    </li>
    <li><%= link_to change_status_closed_tournament_path(tournament_presenter.tournament), data: { "turbo-method": "post" }, remote: true do %>
          <label class="dropdown-item" for="#{tournament_presenter.tournament.id}">Closed</label>
        <% end %>
    </li>
    <li class="dropdown-divider"></li>
    <li><%= link_to "#", class: "dropdown-item", data: { bs_toggle: "modal", bs_target: "#editTournamentModal" } do %>
          Edit Tournament
        <% end %>
    </li>
  </ul>
</div>

<%= turbo_frame_tag dom_id(tournament_presenter.tournament) do %>
	<% if tournament_presenter.tournament.status == false %>
		<% classes_status_closed = 'btn btn-secondary disabled' %>
		<% disabled_status_closed = true %>
	<% else %>
		<% classes_status_closed = 'text-decoration-none text-black likes' %>
		<% disabled_status_closed = false %>
	<% end %>

	<div class= "tours py-4 px-3">
		<div class="flex-shrink-0">
			<%= tournament_presenter.tournament.name %>
		</div>
		<div class="">
			<% if tournament_presenter.tournament.status == false %>
				<% classes_lvl1 = 'btn btn-secondary disabled' %>
				<% disabled_lvl1 = true %>
				<% classes_lvl2 = 'btn btn-secondary disabled' %>
				<% disabled_lvl2 = true %>
				<% classes_lvl3 = 'btn btn-secondary disabled' %>
				<% disabled_lvl3 = true %>
				<% classes_lvl4 = 'btn btn-secondary disabled' %>
				<% disabled_lvl4 = true %>
			<% else %>
				<% if tournament_presenter.tournament.max_lvl1 <= tournament_presenter.tournament.registrations.where(level_registration: "level_1").count%>
					<% classes_lvl1 = 'btn btn-secondary disabled' %>
					<% disabled_lvl1 = true %>
				<% else %>
					<% classes_lvl1 = 'text-decoration-none text-black likes' %>
					<% disabled_lvl1 = false %>
				<% end %>
				<% if tournament_presenter.tournament.max_lvl2 <= tournament_presenter.tournament.registrations.where(level_registration: "level_2").count %>
					<% classes_lvl2 = 'btn btn-secondary disabled' %>
					<% disabled_lvl2 = true %>
				<% else %>
					<% classes_lvl2 = 'text-decoration-none text-black likes' %>
					<% disabled_lvl2 = false %>
				<% end %>
				<% if tournament_presenter.tournament.max_lvl3 <= tournament_presenter.tournament.registrations.where(level_registration: "level_3").count %>
					<% classes_lvl3 = 'btn btn-secondary disabled' %>
					<% disabled_lvl3 = true %>
				<% else %>
					<% classes_lvl3 = 'text-decoration-none text-black likes' %>
					<% disabled_lvl3 = false %>
				<% end %>
				<% if tournament_presenter.tournament.max_lvl4 <= tournament_presenter.tournament.registrations.where(level_registration: "level_4").count %>
					<% classes_lvl4 = 'btn btn-secondary disabled' %>
					<% disabled_lvl4 = true %>
				<% else %>
					<% classes_lvl4 = 'text-decoration-none text-black likes' %>
					<% disabled_lvl4 = false %>
				<% end %>
			<% end %>
			<p class="mb-0">
				<span class="fw-bolder"><%= %></span> 
				<span class="text-muted">
					@<%= tournament_presenter.tournament.status == true ? "Tournament is opened" : "Tournament is closed" %> <%= tournament_presenter.created_at %></span>
			</p>

			<p><%=  %></p>

			<div class = "d-flex justify-content-between align-items-center action-links">
				<div> 
					<%= link_to tournament_presenter.registration_tournament_url(level_param: "level_1"), data: {"turbo-method": tournament_presenter.turbo_data_registration_method}, class: classes_lvl1, :disabled => disabled_lvl1, remote: true do %>
						<%= image_tag tournament_presenter.tournament.registrations.where(user_id: current_user.id).first&.level_registration == "level_1" ? "tennis_filled.png" : "tennis-ball.png", size: tournament_presenter.size_registration, class: "me-1"%>
						<span><%= tournament_presenter.tournament.registrations.where(level_registration: "level_1").count%>/<%= tournament_presenter.tournament.max_lvl1 %></span>
					<%end%>
				</div>
				<div>
					<%= link_to tournament_presenter.registration_tournament_url_lvl2(level_param: "level_2"), data: {"turbo-method": tournament_presenter.turbo_data_registration_method}, class: classes_lvl2, :disabled => disabled_lvl2, remote: true do %>
						<%= image_tag tournament_presenter.tournament.registrations.where(user_id: current_user.id).first&.level_registration == "level_2" ? "tennis_filled.png" : "tennis-ball.png", size: tournament_presenter.size_registration, class: "me-1"%>
						<span><%= tournament_presenter.tournament.registrations.where(level_registration: "level_2").count %>/<%= tournament_presenter.tournament.max_lvl2 %></span>
					<%end%>
				</div>
				<div>
					<%= link_to tournament_presenter.registration_tournament_url_lvl3(level_param: "level_3"), data: {"turbo-method": tournament_presenter.turbo_data_registration_method}, class: classes_lvl3, :disabled => disabled_lvl3, remote: true do %>
						<%= image_tag tournament_presenter.tournament.registrations.where(user_id: current_user.id).first&.level_registration == "level_3" ? "tennis_filled.png" : "tennis-ball.png", size: tournament_presenter.size_registration, class: "me-1"%>
						<span><%=tournament_presenter.tournament.registrations.where(level_registration: "level_3").count %>/<%= tournament_presenter.tournament.max_lvl3 %></span>
					<%end%>
				</div>
				<div>
					<%= link_to tournament_presenter.registration_tournament_url_lvl4(level_param: "level_4"), data: {"turbo-method": tournament_presenter.turbo_data_registration_method}, class: classes_lvl4, :disabled => disabled_lvl4, remote: true do %>
						<%= image_tag tournament_presenter.tournament.registrations.where(user_id: current_user.id).first&.level_registration == "level_4" ? "tennis_filled.png" : "tennis-ball.png", size: tournament_presenter.size_registration, class: "me-1"%>
						<span><%= tournament_presenter.tournament.registrations.where(level_registration: "level_4").count %>/<%= tournament_presenter.tournament.max_lvl4 %></span>
					<%end%>
				</div>
			</div>
		</div>
		
	</div>
	<br>
	<div class="modal fade" id="editTournamentModal" tabindex="-1" aria-labelledby="editTournamentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTournamentModalLabel">Edit Tournament</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/update_tournament", tournament: tournament_presenter.tournament %>
      </div>
    </div>
  </div>
</div>
	
<%end%>


<style>
  .btn-custom-small {
    padding: 0.2rem 0.5rem;
    font-size: 0.50rem;
  }
</style>
