<div class="col-7">
	<%= turbo_frame_tag dom_id(@tournament) do %>
		<div class="some_container_id"></div>
	<%end%>

	<% if @tournament.status == false %>
		<% classes_status_closed = 'btn btn-info disabled' %>
		<% disabled_status_closed = true %>
	<% else %>
		<% classes_status_closed = 'text-decoration-none text-black likes' %>
		<% disabled_status_closed = false %>
	<% end %>

	<div class= "tours py-4 px-3">
		<div class="flex-shrink-0">
			<%= @tournament.name %>
		</div>
		<div class="">
			<p class="mb-0">
				<span class="fw-bolder"><%= %></span> 
				<span class="text-muted">
					@<%= @tournament.status == true ? "Tournament is opened" : "Tournament is closed" %> Created on <%= @tournament.created_at_time %></span>
			</p>

			<p><%=  %></p>

			<div class = "d-flex justify-content-between align-items-center action-links">
				<div> 
				<span style="font-size: 13px;">Beginner <%= @tournament.registrations.where(level_registration: "level_1", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Medium <%= @tournament.registrations.where(level_registration: "level_2", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">MediumPlus <%= @tournament.registrations.where(level_registration: "level_3", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Expert <%= @tournament.registrations.where(level_registration: "level_4", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">WaitListed <%= @tournament.registrations.where(waitlisted: true).count%></span>
				</div>
			</div>
		</div>
		
	</div>
		<br>
		<% @groups_with_matches.each_with_index do |(group, matches), index| %>
			<%= turbo_frame_tag "group_#{group.id}" do %>
				<h7>Group <%= (index + 'A'.ord).chr %></h7>
				<% if current_user.admin? %>
					<%= link_to group_path(group), method: :delete, data: { turbo_method: :delete }, class: "btn btn-sm float-end", style: "font-size: 7px;" do %>
						<%= image_tag "cross-button.png", width: "17" %>
					<% end %>
				<% end %>
		
				<%= form_tag update_scores_group_group_path(group), method: :post, remote: true do %>
					<table class="tournament-table">
						<thead>
							<tr>
								<th>nr.</th>
								<th>id</th>
								<th>Match</th>
								<th>Score</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<% matches.each_with_index do |match, match_index| %>
								<tr>
									<td><%= match_index + 1 %></td>
									<td><%= match.id %></td>
									<td><%= "#{Registration.find(match.first_player).user.username} vs #{Registration.find(match.second_player).user.username}" %></td>
									<td><%= text_field_tag "match_scores[#{match.id}]", match.score %></td>
									<td><%= submit_tag "Submit", class: "btn btn-sm tiny-button", style: "background-color: #53B092;" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
		
			<% end %>
		<% end %>
		
		
		
    
</div>
<div class="col">
asdsadsadas
</div>


<style>
.tournament-table {
	border-collapse: collapse;
	width: 60%;
}

.tournament-table th, .tournament-table td {
	border: 1px solid #ddd;
	padding: 3px;
	text-align: center;
	font-size: 11px; 
	height: 1px;
}

.tournament-table th {
	background-color: #f2f2f2;
}

.tiny-button {
	font-size: 9px;
	color: white;
	padding: 5px 10px;
}
.tiny-button:hover {
color: white;
}
</style>