<div class="col-9">
	<%= turbo_frame_tag dom_id(@tournament) do %>
		<div class="some_container_id"></div>
	<%end%>

	<% if @tournament.status == false %>
		<% classes_status_closed = 'btn btn-info disabled' %>
		<% disabled_status_closed = true %>
	<% else %>
		<% classes_status_closed = 'text-decoration-none text-black likes' %>
		<% disabled_status_closed = false %>
	<% end %>

	<div class= "tours py-4 px-3">
		<div class="flex-shrink-0">
			<%= @tournament.name %>
		</div>
		<div class="">
			<p class="mb-0">
				<span class="fw-bolder"><%= %></span> 
				<span class="text-muted">
					@<%= @tournament.status == true ? "Tournament is opened" : "Tournament is closed" %> Created on <%= @tournament.created_at_time %></span>
			</p>

			<p><%=  %></p>

			<div class = "d-flex justify-content-between align-items-center action-links">
				<div> 
				<span style="font-size: 13px;">Beginner <%= @tournament.registrations.where(level_registration: "level_1", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Medium <%= @tournament.registrations.where(level_registration: "level_2", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">MediumPlus <%= @tournament.registrations.where(level_registration: "level_3", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Expert <%= @tournament.registrations.where(level_registration: "level_4", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">WaitListed <%= @tournament.registrations.where(waitlisted: true).count%></span>
				</div>
			</div>
		</div>
		
	</div>
		<br>
		
		
		<%= form_tag create_groups_tournament_path(@tournament), method: :post, remote: true do %>
			<%= render partial: 'player_info' %>
			<%= link_to "Beginner Schedule", beginner_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Medium Schedule", medium_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Medium Plus Schedule", medium_plus_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Expert Schedule", expert_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<br><br>
			<% if current_user.admin? %>
				
				<center>Dashboard Admin</center>
				<span class="placeholder col-12 placeholder-xs", style="font-size:5px"></span>
				<% if @tournament.status == true %>
					<div style= "font-size: 13px;" >Tournament still opened, so you cannot generate groups</div>
					<%= submit_tag "Generate Groups", class: "btn btn-lg tiny-button disabled", style: "background-color: #53B092;" %>
				<% else %>
					<%= submit_tag "Generate Groups", class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
				<% end %>
			<% end %>
		<% end %>
		<br>
		<% if current_user.admin? %>
		<% if @tournament.status == true %>
			<div style= "font-size: 13px;" >Tournament still opened, so you cannot generate bracket matches</div>
			<%= link_to dashboard_path, class: "btn btn-lg tiny-button disabled", style: "background-color: #53B092;", data: { bs_toggle: "modal", bs_target: "#creat_bracket" } do %>

					Create Bracket Matches
			
			<% end %>
		<% else %>
			<%= link_to dashboard_path, class: "btn btn-lg tiny-button", style: "background-color: #53B092;", data: { bs_toggle: "modal", bs_target: "#creat_bracket" } do %>

			Create Bracket Matches

			<% end %>
		<% end %>
		<% end %>
		<br>
		<br>
		<% if current_user.admin? %>
		<% if @tournament.status == true %>
			<div style= "font-size: 13px;" >Tournament not finished yet, so you cannot set points for players</div>
			<%= link_to dashboard_path, class: "btn btn-lg tiny-button disabled", style: "background-color: #53B092;", data: { bs_toggle: "modal", bs_target: "#create_point" } do %>

					Set Points for Players
			
			<% end %>
		<% else %>
			<%= link_to dashboard_path, class: "btn btn-lg tiny-button", style: "background-color: #53B092;", data: { bs_toggle: "modal", bs_target: "#create_point" } do %>

				Set Points for Players

			<% end %>
		<% end %>
		<% end %>
		<br>

</div>


<div class="modal fade" id="creat_bracket" tabindex="-1" aria-labelledby="creat_bracket" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Add modal-lg class for a larger width -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/bracket_matches_form", tournament: @tournament %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create_point" tabindex="-1" aria-labelledby="create_point" aria-hidden="true">
  <div class="modal-dialog modal-sm"> <!-- Add modal-lg class for a larger width -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/create_point", tournament: @tournament %>
      </div>
    </div>
  </div>
</div>



<style>
	.tournament-table {
		border-collapse: collapse;
		width: 60%;
	}

	.tournament-table th, .tournament-table td {
		border: 1px solid #ddd;
		padding: 3px;
		text-align: center;
		font-size: 11px; 
		height: 1px;
	}

	.tournament-table th {
		background-color: #f2f2f2;
	}

	.tiny-button {
		font-size: 13px;
		color: white;
		padding: 5px 10px;
	}
	.tiny-button:hover {
  color: white;
}
</style>