<div class="col-7">
	<%= turbo_frame_tag dom_id(@tournament) do %>
		<div class="some_container_id"></div>
	<%end%>

	<% if @tournament.status == false %>
		<% classes_status_closed = 'btn btn-info disabled' %>
		<% disabled_status_closed = true %>
	<% else %>
		<% classes_status_closed = 'text-decoration-none text-black likes' %>
		<% disabled_status_closed = false %>
	<% end %>

	<div class= "tours py-4 px-3">
		<div class="flex-shrink-0">
			<%= @tournament.name %>
		</div>
		<div class="">
			<p class="mb-0">
				<span class="fw-bolder"><%= %></span> 
				<span class="text-muted">
					@<%= @tournament.status == true ? "Tournament is opened" : "Tournament is closed" %> Created on <%= @tournament.created_at_time %></span>
			</p>

			<p><%=  %></p>

			<div class = "d-flex justify-content-between align-items-center action-links">
				<div> 
				<span style="font-size: 13px;">Beginner <%= @tournament.registrations.where(level_registration: "level_1", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Medium <%= @tournament.registrations.where(level_registration: "level_2", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">MediumPlus <%= @tournament.registrations.where(level_registration: "level_3", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">Expert <%= @tournament.registrations.where(level_registration: "level_4", waitlisted: false).count%></span>
				</div>
				<div>
				<span style="font-size: 13px;">WaitListed <%= @tournament.registrations.where(waitlisted: true).count%></span>
				</div>
			</div>
		</div>
		
	</div>
		<br>
		
		<%= form_tag create_groups_tournament_path(@tournament), method: :post, remote: true do %>
			<%= render partial: 'player_info' %>
			<% if current_user.admin? %>
				<center>Dashboard Admin</center>
				<span class="placeholder col-12 placeholder-xs", style="font-size:5px"></span>
			
				<%= submit_tag "Generate Groups", class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
			<% end %>
		<% end %>
		<br>
		<%= link_to "Beginner Schedule", beginner_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Medium Schedule", medium_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Medium Plus Schedule", medium_plus_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>
		<%= link_to "Expert Schedule", expert_schedule_tournament_path(@tournament), class: "btn btn-lg tiny-button", style: "background-color: #53B092;" %>


		<!-- 
		<h6>Round Robin Beginner</h6>

		<table class = "tournament-table">
			<thead>
				<tr>
					<th>Player</th>
					<th>vs Player 1</th>
					<th>vs Player 2</th>
					<th>vs Player 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Player 1</td>
					<td>-</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Player 2</td>
					<td></td>
					<td>-</td>
					<td></td>
				</tr>
				<tr>
					<td>Player 3</td>
					<td></td>
					<td></td>
					<td>-</td>
				</tr>
			</tbody>
		</table><br>
		<h6>Round Robin Medium</h6>

		<table class = "tournament-table">
			<thead>
				<tr>
					<th>Player</th>
					<th>vs Player 1</th>
					<th>vs Player 2</th>
					<th>vs Player 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Player 1</td>
					<td>-</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Player 2</td>
					<td></td>
					<td>-</td>
					<td></td>
				</tr>
				<tr>
					<td>Player 3</td>
					<td></td>
					<td></td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h6>Round Robin MediumPlus</h6>

		<table class = "tournament-table">
			<thead>
				<tr>
					<th>Player</th>
					<th>vs Player 1</th>
					<th>vs Player 2</th>
					<th>vs Player 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Player 1</td>
					<td>-</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Player 2</td>
					<td></td>
					<td>-</td>
					<td></td>
				</tr>
				<tr>
					<td>Player 3</td>
					<td></td>
					<td></td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h6>Round Robin Expert</h6>

		<table class = "tournament-table">
			<thead>
				<tr>
					<th>Player</th>
					<th>vs Player 1</th>
					<th>vs Player 2</th>
					<th>vs Player 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Player 1</td>
					<td>-</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Player 2</td>
					<td></td>
					<td>-</td>
					<td></td>
				</tr>
				<tr>
					<td>Player 3</td>
					<td></td>
					<td></td>
					<td>-</td>
				</tr>
			</tbody>
		</table> 
	-->
</div>
<div class="col">
asdsadsadas
</div>


<style>
	.tournament-table {
		border-collapse: collapse;
		width: 60%;
	}

	.tournament-table th, .tournament-table td {
		border: 1px solid #ddd;
		padding: 3px;
		text-align: center;
		font-size: 11px; 
		height: 1px;
	}

	.tournament-table th {
		background-color: #f2f2f2;
	}

	.tiny-button {
		font-size: 13px;
		color: white;
		padding: 5px 10px;
	}
	.tiny-button:hover {
  color: white;
}
</style>