
<%= form_with(model: tournament, url: tournament_path(tournament), method: :patch, class: "w-100") do |f| %>

	<%= f.text_area :name, placeholder: "Name for Tournament", class: "form-control  w-100 mb-4",style: "font-size: small;" %>
	<%= f.text_area :description, placeholder: "Description for Tournament", class: "form-control  w-100 mb-4",style: "font-size: small;" %>

	<%= f.label :number_of_players_beginner, class: "form-label" %>
	<%= f.select :max_lvl1, (0..10).to_a, {}, { class: "form-control  w-100 mb-4", style: "font-size: small;" } %>

	<%= f.label :number_of_players_medium, class: "form-label" %>
	<%= f.select :max_lvl2, (0..10).to_a, {}, { class: "form-control  w-100 mb-4", style: "font-size: small;" } %>

	<%= f.label :number_of_players_medium_plus, class: "form-label" %>
	<%= f.select :max_lvl3, (0..10).to_a, {}, { class: "form-control  w-100 mb-4", style: "font-size: small;" } %>

	<%= f.label :number_of_players_expert, class: "form-label" %>
	<%= f.select :max_lvl4, (0..10).to_a, {}, { class: "form-control w-100 mb-4", style: "font-size: small;" } %>

    <%= f.label :start_sign_ups, class: "form-label" %>
  <%= f.datetime_local_field :start_datetime, class: "form-control datetime-picker", style: "font-size: small;" %>
	<br>

	<%= f.label :finish_sign_ups, class: "form-label" %>
  <%= f.datetime_local_field :finish_datetime, class: "form-control datetime-picker", style: "font-size: small;" %>
	<br>

	<div class="mb-4">
        <input type="radio" class="btn-check" name="tournament_status1" id="option5" value="opened" autocomplete="off",style: "font-size: 15px;">
        <label class="btn btn-secondary btn-sm" for="option5">Opened</label>

        <input type="radio" class="btn-check" name="tournament_status1" id="option6" value="closed" autocomplete="off">
        <label class="btn btn-secondary btn-sm" for="option6">Closed</label>
    </div>

	<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <%= f.check_box :confirmation, class: "btn-check", id: "confirmation", autocomplete: "off" %>
        <label class="btn btn-outline-primary btn-sm" for="confirmation">Needs Confirmation</label>
        <span style="margin-right: 10px;"></span>
        <%= f.check_box :league, class: "btn-check", id: "league", autocomplete: "off" %>
        <label class="btn btn-outline-primary btn-sm" for="league">Is League</label>
    </div>

   

	<div class="d-flex justify-content-end">
	  <%= f.submit "Update Tournament", class: "btn btn-lg btn-twitter rounded-pill",style: "font-size: small;" %>
	</div>
<% end %>