
<!-- <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %> -->
<!-- <%= link_to "Log In", new_user_session_path, class: 'btn btn-outline-primary btn-lg' %> -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-bg p-0 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "kfc.png", width: "59" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://docs.google.com/forms/d/e/1FAIpQLSfTqTDKRlDb1pN9R8kBrLAn4qUD_oDmziY3GAYy6tYE2WzUWg/viewform">Shop</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mx-2" href="<%= blogvisitors_path %>">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Social
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="https://www.facebook.com/racketfusion/">Facebook</a></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/racketfusion/">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/company/racket-fusion/">Linkedin </a></li>
            <li><a class="dropdown-item" href="https://api.whatsapp.com/send/?phone=400755451562&text&type=phone_number&app_absent=0">WhatsApp</a></li>
          </ul>
        </li>
        <!-- Log In and Sign Up buttons -->
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: 'nav-link mx-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link mx-2' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <br>
  <div id="carouselExampleCaptions" class="carousel slide" style="width: 100%; height: 550px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="width: 100%; height: 500px;">
    <div class="carousel-item active" style="width: 100%; height: 500px;">
      <img src="<%= asset_path('carousel1.png') %>" class="d-block w-100" style="width: 100%; height: 500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Vaslui League</h5>
        <p>Scopul nostru este de a oferi posibilitatea de a juca tenis atât la nivel de hobby cât și competitiv tuturor persoanelor, indiferent de vârstă, la cele mai înalte standarde.</p>
      </div>
    </div>
    <div class="carousel-item" style="width: 100%; height: 500px;">
    <img src="<%= asset_path('carousel2.png') %>" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 0; left: 0; width: 100%; color: black;">
      <h5>Magazin Vaslui League</h5>
      <p>Vizitează acum noul nostru magazin online de unde poți achiziționa accesorii sportive marcă proprie.</p><br>
      
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTqTDKRlDb1pN9R8kBrLAn4qUD_oDmziY3GAYy6tYE2WzUWg/viewform" target="_blank" class="btn btn-lg tiny-button" style="background-color: #53B092;">Spre Magazin</a>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<center><h2>Vaslui League - Turnee Tenis Vaslui</h2></center>
<center>
<div class="d-flex justify-content-center">
<div class="card" style="width: 18rem;">
  <img src="<%= asset_path('index3.png') %>" class="card-img-top" style="width: 100%; height: 250px;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Turnee simplu</h5>
    <p class="card-text">
    Turnee în formatul cunoscut: grupe + eliminatoriu.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-right: 15px; margin-left: 15px;">
  <img src="<%= asset_path('league_tennis.png') %>" class="card-img-top" style="width: 100%; height: 250px;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ligă</h5>
    <p class="card-text">
    Turnee in formatul ligă unde fiecare joacă cu fiecare acumulând puncte la victorie.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="<%= asset_path('index2.png') %>" class="card-img-top" style="width: 100%; height: 250px;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Turnee dublu</h5>
    <p class="card-text">
    Categoriile turneelor sunt: Începător, Mediu și Avansat</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<br>
<br>
<span class="placeholder col-8 placeholder-xs", style="font-size:5px"></span>
<br>
<br>

</center>
<div class="container text-center">
  <div class="row">
    <div class="col">
    <!--<img src="<%= asset_path('decathlon.png') %>"  style="width: 320px; height: 130px;" alt="...">-->
    <div id="playerCountContainer", style="font-size: 43px;">
  <span id="playerCount", style="font-size: 43px;">0</span> Players
</div>
    </div>
    <div class="col">
    <!--
    <h4>Dacă ați fost mulțumiți, nu uitați să apăsați butonul Like și să le împărtășiți prietenilor.</h4>
    <img src="<%= asset_path('facebook.png') %>"  style="width: 29px; height: 29px;" alt="...">
    <img src="<%= asset_path('instagram.png') %>"  style="width: 29px; height: 29px;" alt="...">
    <img src="<%= asset_path('linkedin.png') %>"  style="width: 29px; height: 29px;" alt="...">
    <img src="<%= asset_path('whatsapp.png') %>"  style="width: 29px; height: 29px;" alt="..."> -->
    <div id="eventCountContainer", style="font-size: 43px;">
  <span id="eventCount", style="font-size: 43px;">0</span> Tournaments
</div>
    </div>
    <div class="col">
    <div id="matchCountContainer", style="font-size: 39px;">
  <span id="matchCount", style="font-size: 43px;">0</span> Matches
</div>
    <!--
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="YOUR_NONCE_VALUE"></script>
<div class="fb-page" data-href="https://www.facebook.com/racketfusion" data-tabs="timeline" data-width="340" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>-->

    </div>
  </div>
</div>

<br><br>



<footer class="footer custom-bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <ul class="list-unstyled custom-text-color">
        <br>
        <li>DESPRE NOI</li>
          <li>Vaslui League este o platformă online care are în vedere organizarea competițiilor în domeniul sporturilor cu rachetă.</li>
          <li>Noi suntem cei care ne ocupăm de intermedierea relațiilor dintre persoanele fizice și bazele sportive, dintre pasionații de sport, fie ei amatori sau semi-profesioniști, respectând conceptul de „Minte sănătoasă, într-un corp sănătos”.</li>
          <li class="text-white">ANPC</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
      <br>
        <ul class="list-unstyled custom-text-color">
        <li>Vaslui League</li>
        <li><img src="<%= asset_path('phone-call.png') %>"  style=" height: 15px;" alt="..."> 0755 451 562</li>
        <li><img src="<%= asset_path('point.png') %>"  style=" height: 17px;" alt="..."> Iași, Str. Ovidiu, nr. 3</li>
        <li><img src="<%= asset_path('email.png') %>"  style=" height: 17px;" alt="..."> info@vasluileague.ro</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
      <br>
  <h5 class="text-white">Contact Us</h5>
  <form action="/send_email" method="post">
    <!-- Email Address Input -->
    <div class="mb-1">
      <label for="email" class="form-label text-white">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</div>
    </div>
    <!-- Message Input -->
    <div class="mb-1">
      <label for="message" class="form-label text-white">Message</label>
      <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-send">Send</button>
  </form>
</div>
    </div>
  </div>
</footer>
<footer class="small-footer bg-dark text-white text-center py-2">
  ©2023 Toate drepturile rezervate.
</footer>

<script>
  // Get the span element for the player count
  var playerCountElement = document.getElementById("playerCount");
  var eventCountElement = document.getElementById("eventCount");
  var matchCountElement = document.getElementById("matchCount");
  
  // Get the actual count from Ruby (assuming it's stored in a variable)
  var actualCount = <%= User.all.count %>;
  var actualCount1 = <%= Tournament.all.count %>;
  var actualCount2 = <%= Match.all.count %>;
  
  // Set the starting count to 0
  var count = 0;
  var count1 = 0;
  var count2 = 0;

  var interval = setInterval(function() {
    
    playerCountElement.textContent = count; 

    if (count >= actualCount) {
       
      clearInterval(interval);
    }
  else
    count++;
  }, 50);
  var interval1 = setInterval(function() {
    
    eventCountElement.textContent = count1; 

    if (count1 >= actualCount1) {
      clearInterval(interval1);
    }
  else
    count1++;
  }, 50);
  var interval2 = setInterval(function() {
    
    matchCountElement.textContent = count2;

    if (count2 >= actualCount2) {
      clearInterval(interval2);
    }
  else
    count2++;
  }, 50);
</script>

<style>


  <style>
  @keyframes countAnimation {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }

  #playerCount {
    animation: countAnimation 1s; /* Use countAnimation with 1 second duration */
  }
  .custom-bg-color {
  background-color: #1a1a1a;
}
.custom-text-color li {
  color: #666666;
}
  @media (max-width: 199.98px) {
    .carousel-caption {
      display: none !important; /* Hide the caption on screens smaller than 200px */
    }
  }

 

  /* Custom style for the navbar background color */
  .custom-navbar-bg {
    background-color: rgb(167, 193, 176) !important;
  }

  /* Custom styles to make form elements tiny */
  .form-label,
  .form-control {
    font-size: 13px; /* Adjust the font size as needed */
  }
  /* Optional: Adjust padding and margin to make elements compact */
  .form-control {
    padding: 0.15rem 0.3rem;
    margin-bottom: 0.1rem;
  }
  /* Optional: Make the form text muted smaller */
  .form-text {
    font-size: 8px; /* Adjust the font size as needed */
  }
  .btn-send {
    font-size: 13px; /* Adjust the font size as needed */
    padding: 0.25rem 0.5rem; /* Adjust padding as needed */
  }
</style>
