<div class="col-7">
<%= form_with(url: usernames_path, method: :get, data: { turbo_frame: :user_results }) do |form| %>
	<div class="mb-3">
		<%= form.label :search_players, class: "form-label" %>
		<%= form.text_field :username, class: "form-control", oninput: 'this.form.requestSubmit()'%>
	</div>
<% end %>

<%= turbo_frame_tag :user_results do %>
<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<th><h7>Username</h7></th>
			<th><h7>Email</h7></th>
			<th><h7>Age</h7></th>
			<th><h7>Phone</h7></th>
			<th><h7>Level</h7></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, index| %>
			<tr>
			<td><font size="2px"><%= link_to user.username, user_path(user.id), class: 'user-link', target: "_blank" %></font></td>
				<td><font size="2px"><%= user.email %></font></td>
				<td><font size="2px"><%= user.calculate_age %></font></td>
				<td><font size="2px"><%= user.phone %></font></td>
				<td><font size="2px"><%= user.level %></font></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%end%>
<div class="d-flex justify-content-center ">
		<%== pagy_bootstrap_nav(@pagy) %>
	</div>

</div>

<div class="col">
<div class="content">

</div>
</div>


<style>
.user-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; /* Add smooth transition effect on color change */
  }

  .user-link:hover {
    color: #53B092; /* Change to the desired color on hover */
  }
.col {
    overflow: hidden; 
}

.content {
    word-wrap: break-word;
    padding: 10px; /* Add some padding to the content */
}

.table {
    width: 100%; /* Ensure the table takes the full width of its container */
    margin-bottom: 20px; /* Add margin to the bottom of the table */
}
.page-item a.page-link {
    color: #28a745;
}
.page-item.active a.page-link {
    background-color: white;
    border-color: #6c757d;
}
.page-item a.page-link {
    font-size: 11px; 
}
</style>